.elem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 170px;
    height: 170px;
    border: 16px solid;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 6px 0;
}

.elem-container:hover {
    opacity: 90%;
}

.elem-container:active {
    transform: scale(.9);
}

/*MOBILE*/
@media(max-width:768px) {
    .elem-container {
        width: 100px;
        height: 95px;
    }
}