.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 12px;
    font-weight: 700;
    padding: 20px 24px;
}

.title-container {
    display: inline-block;
    line-height: 28px;
}

.score-container {
    float: right;
    background: rgb(241, 241, 225);
    border-radius: 8px;
    padding: 10px 20px;
    width: 80px;
    text-align: center;
}

.score-text {
    color: hsl(229, 64%, 46%);
    font-size: 16px;
    letter-spacing: 2px;
}

.score-value {
    text-align: center;
    color:  hsl(229, 25%, 31%);
    font-size: 60px;
}

.no-margin {
    margin: 0;
    font-size: 36px;
    line-height: 0.9;
    font-weight: 700;
}

/*MOBILE*/
@media(max-width:768px) {
    .no-margin {
        font-size: 26px;
    }
    .score-container {
        width: 50px;
        height: 76px;
    }
    .score-value {
        font-size: 50px;
    }
    .score-text {
        font-size: 14px;
    }
}