.main-container {
    margin: 60px auto 20px;
    text-align: center;
}

.triangle-container {
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}