.main-container {
    margin: 20px auto;
    text-align: center;
}

.triangle-container {
    display: grid;
    grid-template-areas: "left right"
                         "bottom bottom";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0 0;
}

.elem-box:last-child {
    grid-area: bottom;
}

/*result section*/
.result-wrapper {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.user-result-box {
    grid-area: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.result-title {
}

.house-result-box {
    grid-area: right;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}

.result-container {
    margin-top: 40px;
    padding: 10px;
}

/*MOBILE*/
@media(max-width:768px) {
    .triangle-container {
        padding: 10px;
        margin-top: 70px;
        padding: 0;
        grid-gap: 30px 36px;
    }
}