body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.App {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
  color: white;
}

.container {
  max-width: 58%;
  margin: auto;
  padding: 32px;
}

/*MOBILE*/
@media(max-width:599px) {
  .container {
    max-width: 100%;
    padding: 16px 0;
    margin: 0 26px;
  }
}

/*TABLET*/
@media(min-width: 599px) and (max-width: 1168px) {
  .container {
    max-width: 72%;
  }
}